<div fxLayout="column"  fxLayoutAlign="center">
    <mat-card class="authentication-card">
      <mat-card-header>
        <mat-card-title>Create New Instruction</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="createForm" fxLayout="column" fxLayoutAlign="center stretch">
         <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Progress</mat-label>
            <select matNativeControl formControlName="progress">
              <option value="Not Started">Not Started</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="startDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Image</mat-label>
            <input matInput formControlName="image" />
          </mat-form-field>
          
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">
        Create
        </button>
       
      </mat-card-actions>
    </mat-card>
</div>
